@font-face {
  font-family: 'Inter';
  src: url('./public/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
	--background: white;
	--text: #131313;
	--text-subdued: gray;
	--text-hovered: black;
	--border: #F5F5F5;
	--sidebar-background: white;
	--current: #EFEFEF;
	--footer: #f5f5f5;
	--btn: black;
	--btn-color: white;
}

:root .dark {
	--background: #131313;
	--text: #efefef;
	--text-subdued: #747474;
	--text-hovered: white;
	--border: #1E1E1E;
	--sidebar-background: #131313;
	--current: #222222;
	--footer: #1E1E1E;
	--btn: white;
	--btn-color: black;
}

html {
	font-size: 14px;
	line-height: 1.4;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter';
	margin: auto;
	background: var(--background);
	color: var(--text);
	transition: background 105ms ease, color 105ms ease;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	border: none;
	background: unset;
}

a:not(.xp a):not(.resume-btn) {
	text-decoration: none;
}

a {
	color: var(--text);
}

p {
	margin: 0 0 10px;
}

.about {
	margin-top: 30px;
}

.about-list {
	padding-left: 20px;
	list-style-type: disc;
	line-height: 1.8;
}

.h1, .h2 {
	margin: 0;
}

.h1 {
	font-size: 32px;
	font-weight: 700;
}

.h2 {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
}

.title {
	font-size: 14px;
	text-align: left;
	margin-top: 40px;
}

#menu-btn,
#theme {
	z-index: 1;
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav {
	position: absolute;
	top: 0;
	left: -100%;
	bottom: 0;
	transition: left 105ms ease-in;
	z-index: 0;
	padding-top: 40px;
	background: var(--sidebar-background);
	height: 100vh;
	overflow: hidden;
}

nav ul {
	margin-top: 60px;
	margin: 60px 20px 20px;
}

nav a {
	padding: 10px 16px;
	border-radius: 4px;
	white-space: nowrap;
	display: block;
	transition: font-weight 105ms ease;
}

nav a:hover {
	font-weight: 800;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 8px 20px;
	background: var(--background);
	z-index: 1;
	display: flex;
	align-items: start;
	gap: 4px;
	transition: background 105ms ease;
}

.content {
	position: relative;
	transition: left 105ms ease-in, padding-left 105ms ease-in;
	padding: 60px 20px;
	margin: auto;
	max-width: 768px;
	left: 0;
}

.open {
	overflow: hidden;
	user-select: none;
}

:not(.open) .i-open {
	display: block;
}
.open .i-open, body:not(.open) .i-close {
	display: none;
}

.open nav {
	left: 0;
	border-right: 1px solid var(--border);
}

.open header {
	bottom: 0;
	background: unset;
	backdrop-filter: blur(10px);
}

.open .content {
	left: 50%;
}

.bold {
	font-weight: 700;
}

.link {
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 4px;
}

.link > svg, .resume-btn > svg {
	transform: translate3d(0px, 0px, 0px);
	transition: transform 105ms ease;
}

.link:hover > svg, .resume-btn:hover > svg {
	transform: translate3d(2px, -4px, 0px);
}

body:not(.dark) #theme > :first-child,
body.dark #theme > :last-child {
	display: none;	
}

body.dark:not(.open) .shadow {
	border-bottom: 1px solid var(--border);
}
body:not(.dark):not(.open) .shadow {
	box-shadow: 0 4px 6px var(--border);
}

.subdued {
	color: var(--text-subdued);
	transition: color 105ms ease;
}

.subdued:hover {
	color: var(--text-hovered);
}

.current {
	background: var(--current);
	font-weight: 800;
}

.xp:not(.xp:last-child) {
	margin-bottom: 30px;
	border-bottom: 1px solid var(--border);
	padding-bottom: 20px;
}

.xp > .link,
.xp > p {
	margin-bottom: 10px;
}

.xp > p {
	width: 150px;
	font-weight: 300;
}

.xp li {
	margin-bottom: 10px;
}

footer {
	font-weight: 300;
	background: var(--footer);
}

.externals {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

footer p {
	text-align: center;
}

#about, #xp {
	scroll-margin-top: 80px;
}

@media screen and (min-width: 550px) {
	.open {
		overflow: auto;
	}

	.open header {
		backdrop-filter: none;
		right: inherit;
	}
	
	.open nav {
		width: 200px;
	}

	.open .content {
		left: 0;
		padding-left: 220px;
	}
}

.chips {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	margin-top: 10px;
}

.chips > p {
	background: var(--current);
	border-radius: 12px;
	display: block;
	font-weight: 300;
	text-align: center;
	padding: 4px 12px;
	margin: 0;
	font-size: 12px;
}

.back-btn {
	margin-top: 10px;
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 12px;
}

.frosted {
    mask-image: linear-gradient(to bottom,black, transparent 80%);
	filter: blur(1px);
}

.disabled {
	pointer-events: none;
	cursor: default;
}

.relative {
	position: relative;
}

.resume-btn {
	position: absolute;
	text-align: center;
	background: var(--btn);
	color: var(--btn-color);
	border-radius: 4px;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	top: calc(60% - 12px);
	left: calc(50% - 70px);
	text-decoration: none;
}

.resume-btn .bold {
	margin-right: 4px;
}

.resume-btn:hover {
	cursor: pointer;
}